<div class="container" ng-controller="JSDemoCtrl">

  <ul class="nav nav-tabs">
    <li class="active"><a id="123" data-toggle="tab" data-target="#jshello" ng-click="click_hello()">Hello</a></li>
    <li><a id="hel" data-toggle="tab" data-target="#jsleds" ng-click="click_leds()">LED Show</a></li>
  </ul>

  <button type="submit" class="btn btn-success pull-right" ng-click="run_js()">Run</button>

  <div class="tab-content">
    <div id="jshello" class="tab-pane fade in active">
      <h4>hello.js (click to edit):</h4>
      <!--<pre><code><div id="js_hello_wrapper"></div></code></pre>-->
      <a href="#" editable-textarea="js_hello_source" onbeforesave="save_hello($data)" e-rows="6" e-cols="80">
        <pre ng-bind-html="js_hello_hl"></pre>
      </a>
      <h6>Output:</h6>
      <pre><h6>{{js_hello_output}}</h6></pre>
    </div>

    <div id="jsleds" class="tab-pane fade">
      <h4>i2c.js (click to edit):</h4>
      <!--<pre><code><div id="js_i2c_wrapper"></div></code></pre>-->
      <a href="#" editable-textarea="js_i2c_source" onbeforesave="save_i2c($data)" e-rows="20" e-cols="80">
        <pre ng-bind-html="js_i2c_hl"></pre>
      </a>
    </div>
  </div>

</div>
